* {
  padding: 0 0;
  margin: 0 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: url("https://i.stack.imgur.com/7vMmx.jpg") no-repeat center center fixed;
  background-size: cover;
}

#root {
  height: 100%;
  width: 100%;
}

.FillWidth {
  width: 100%;
}

.FillHeight {
  height: 100%;
}

.StatusBar {
  position: fixed;
  width: 100%;
  background-color: #000000;
  color: #FFFFFF;
  padding: 0 10px;
  z-index: 100;
}

.Name {
  display: inline;
  font-size: 1em;
}

.Icons {
  float: right;
  display: inline;
}

.StatusBarIcon {
  height: 15px;
  width: 15px;
  margin: 0 5px 4px 5px;
}

.TimeIcon {
  margin: 0 5px;
}

#HomeScreen {
  padding: 50px 0 0 0;
}

#Screen {
  padding: 0 0;
}

.Dock {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  bottom: 0;
  padding-bottom: 60px;
}

.DockIconAnchor {
  margin: 0 20px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.DockIcon {
  padding: auto 0;
  max-width: 100%;
  max-height: 100%;
}

.Navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #000000;
}

.NavBarButton {
  height: 20px;
  width: 20px;
  display: block;
}

#Back {
  margin: 0 40% 0 60%;
}

#Home {
  margin: 0 auto;
}

#Recents {
  margin: 0 60% 0 40%;
}

.AppIcon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: block;
}

.AppName {
  display: block;
  text-align: center;
  color: #FFFFFF;
}

/* s size*/
@media (min-width: 576px) {
  #root {
    font-size: 17px;
  }

  .StatusBarIcon {
    height: 16px;
    width: 16px;
  }

  .AppIcon {
    width: 75px;
    height: 75px;
  }

  .Dock {
    padding-bottom: 65px;
  }

  .DockIcon {
    max-width: 90%;
    max-height: 90%;
  }

  .NavBarButton {
    height: 25px;
    width: 25px;
    display: block;
  }

}

/* m size*/
@media only screen and (min-width: 768px) {
  #root {
    font-size: 18px;
  }

  .StatusBarIcon {
    height: 17px;
    width: 17px;
  }

  .AppIcon {
    width: 100px;
    height: 100px;
  }

  .Dock {
    padding: 27px 20px 60px 0;
    height: 100%;
    position: absolute;
    flex-direction: column;
    width: auto;
    right: 0px;
  }

  .DockIconAnchor {
    margin: default default;
    width: 80px;
    height: 80px;
    float: right;
    padding: 0 0;
  }

  .NavBarButton {
    height: 30px;
    width: 30px;
    display: block;
  }

}

/* lg size*/
@media only screen and (min-width: 992px) {
  #root {
    font-size: 19px;
  }

  .StatusBarIcon {
    height: 18px;
    width: 18px;
  }

  .AppIcon {
    width: 125px;
    height: 125px;
  }

  .Dock {
    padding: 28px 20px 65px 0;
  }

  .DockIconAnchor {
    width: 90px;
    height: 90px;
  }

  .NavBarButton {
    height: 35px;
    width: 35px;
    display: block;
  }

}

/* xl size*/
@media only screen and (min-width: 1200px) {
  #root {
    font-size: 21px;
  }

  .StatusBarIcon {
    height: 20px;
    width: 20px;
  }

  .AppIcon {
    width: 125px;
    height: 125px;
  }

  .Dock {
    padding: 30px 10px 70px 0;
  }

  .DockIconAnchor {
    width: 100px;
    height: 100px;

  }

  .NavBarButton {
    height: 40px;
    width: 40px;
    display: block;
  }

}
