/* s size*/
@media only screen and (min-width: 768px) {

}

/* m size*/
@media only screen and (min-width: 992px) {

}

/* lg size*/
@media only screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

.Navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000;
}

.NavbarItem {
  width: 33.333333333%;
  background-color: #82a43a;
  float: left;
}
