* {
  padding: 0 0;
  margin: 0 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  background: url("https://i.stack.imgur.com/7vMmx.jpg") no-repeat center center fixed;
  background-size: cover;
}

.FillWidth {
  width: 100%;
}

.FillHeight {
  height: 100%;
}

.StatusBar {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #000000;
  color: #FFFFFF;
  padding: 0 10px;
  z-index: 100;
}

.Name {
  display: inline;
  font-size: 1em;
}

.Icons {
  float: right;
  display: inline;
}

.StatusBarIcon {
  height: 15px;
  width: 15px;
  margin: 0 5px 4px 5px;
}

.TimeIcon {
  margin: 0 5px;
}

.Dock {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  bottom: 0;
  padding-bottom: 60px;
}

.DockIconAnchor {
  margin: 0 10px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.DockIcon {
  padding: auto 0;
  max-width: 100%;
  max-height: 100%;
}

.Screen {
  height: 100%;
  z-index: 10000000;
  display: flex;
  flex-direction: column;
  padding-top: 19px;
  padding-bottom: 40px;
}

.AppRow {
  margin: 20px 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.AppIconAnchor {
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
}

.AppIcon {
  max-width: 100%;
  max-height: 100%;
}

.AppName {
  display: block;
  text-align: center;
  color: #FFFFFF;
  font-size: 0.8em;
}

.Dock {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  bottom: 0;
  padding-bottom: 60px;
}

.DockIcon {
  padding: auto 0;
  max-width: 100%;
  max-height: 100%;
}

.Navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #000000;
}

.NavBarButton {
  height: 20px;
  width: 20px;
  display: block;
}

#Back {
  float: right;
  margin: 0 30% 0 70%;
}

#Home {
  margin: 0 auto;
}

#Recents {
  float: left;
  margin: 0 70% 0 30%;
}

.Education {
  padding-top: 10px;
  overflow-y: auto;
  height: 100%;
  background-color: #1c1b1b;
  display: flex;
  flex-direction: column;
}

.Text {
  border-radius: 10px;
  display: inline-block;
  padding: 5px 5px;
  margin: 10px 5px;
  max-width: 70%;
  width: auto;
}

.LeftText {
  background-color: #ea7235;
  color: #FFFFFF;
  align-self: flex-start;
  text-align: left;
}

.RightText {
  background-color: #FFFFFF;
  align-self: flex-end;
}

/* s size*/
@media (min-width: 576px) {
  #root {
    font-size: 17px;
  }

  .Screen {
    padding-top: 20px;
    padding-bottom: 45px;
  }

  .StatusBarIcon {
    height: 16px;
    width: 16px;
  }

  .AppIconAnchor {
    margin: 51px 0 0 0;
  }

  .Dock {
    padding-bottom: 65px;
  }

  .DockIcon {
    max-width: 90%;
    max-height: 90%;
  }

  .NavBarButton {
    height: 25px;
    width: 25px;
    display: block;
  }

}

/* m size*/
@media only screen and (min-width: 768px) {
  #root {
    font-size: 18px;
  }

  .Screen {
    padding-top: 21px;
    padding-bottom: 50px;
  }

  .StatusBarIcon {
    height: 17px;
    width: 17px;
  }

  .Dock {
    padding: 31px 20px 60px 0;
    height: 100%;
    position: absolute;
    flex-direction: column;
    width: auto;
    right: 0px;
  }

  .DockIconAnchor {
    margin: default default;
    width: 80px;
    height: 80px;
    float: right;
    padding: 0 0;
  }

  .AppRow {
    padding-right: 120px;
    display: flex;
    justify-content: space-evenly;
  }

  .AppIconAnchor {
    margin: 52px 20px 0 0;
    width: 80px;
    height: 80px;
    z-index: 1000;
  }

  .AppIcon {
    display: block;
    padding: auto 0;
    max-width: 100%;
    max-height: 100%;
  }

  .AppName {
    display: block;
    text-align: center;
    color: #FFFFFF;
  }

  .NavBarButton {
    height: 30px;
    width: 30px;
    display: block;
  }

}

/* lg size*/
@media only screen and (min-width: 992px) {
  #root {
    font-size: 19px;
  }

  .Screen {
    padding-top: 22px;
    padding-bottom: 55px;
  }

  .StatusBarIcon {
    height: 18px;
    width: 18px;
  }

  .AppRow {
    padding-right: 130px;
  }

  .Dock {
    padding: 32px 20px 65px 0;
  }

  .DockIconAnchor, .AppIconAnchor {
    width: 90px;
    height: 90px;
  }

  .NavBarButton {
    height: 35px;
    width: 35px;
    display: block;
  }

}

/* xl size*/
@media only screen and (min-width: 1200px) {
  #root {
    font-size: 21px;
  }

  .Screen {
    padding-top: 23px;
    padding-bottom: 60px;
  }

  .StatusBarIcon {
    height: 20px;
    width: 20px;
  }

  .AppRow {
    padding-right: 140px;
  }

  .Dock {
    padding: 34px 10px 70px 0;
  }

  .DockIconAnchor {
    width: 100px;
    height: 100px;
  }

  .NavBarButton {
    height: 40px;
    width: 40px;
    display: block;
  }

}
