* {
  box-sizing: border-box;
  padding: 0 0;
  margin: 0 0;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  word-wrap: break-word;
}


html {
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  font-size: 12px;
  background-color: #24305E;
}

.row {
  height: 100%;
}

.header {
  margin-right: 0;
  background-color: #374785;
  margin-bottom: 1.5vmin;

}

#name {
  font-size: 2.5em;
  margin-top: auto;
}

#contactInfo, #name {
  text-align: center;
}

#bodyContainer {
  width: 100%;
  background-color: #374785;
  margin-bottom: 1.5vmin;
}

.skillsTitle {
  font-size: 1.5em;
  text-align: center;
}

.skillsList {
  text-align: center;
}

.skill {
  font-size: 1em;
  display: inline;
  text-align: center;
}

.carouselImage {
  margin: 0 auto;
  width: 100%;
}

.carouselCaption {
  background-color: black;
}

#footer {
  background-color: #374785;
  margin-right: 0;
  
}

.picLink {
  max-width: 50px;
}

/* s size*/
@media only screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }

  .headingSection {
   border-right: #24305E solid 0.75vmin;
   border-left: #24305E solid 0.75vmin;
  }

  #contactInfo, #name {
    text-align: left;
  }

  #contactInfo {
    border-right: 0;
  }

  #name {
    border-left: 0;
  }

  .skillsTitle {
    text-align: left;
  }

  .skill {
    text-align: left;
    font-size: 1em;
    display: block;
  }

  #aboutMe {
    border-left: #24305E solid 1.5vmin;
  }
}

/* m size*/
@media only screen and (min-width: 992px) {
  body {
    font-size: 16px;
  }
}

/* lg size*/
@media only screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}
