* {
  padding: 0 0;
  margin: 0 0;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  word-wrap: break-word;

}


html {
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  background-color: #374785;

}

.filler {
  position: relative;
  width: 100%;
}

#headerFiller {
}


.row {
}

.header {
  background-color: #374785;
  margin-right: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
  border-bottom: #24305E solid 1.5vmin;
}

#name {
  font-size: 2.5em;
}

#contactInfo, #name {
  text-align: center;
}

#bodyContainer {
  align-items: stretch;
  display: flex;
  background-color: #374785;
  overflow-y: visible;
}

#qualifications, #aboutMe {

}

.skillsTitle {
  font-size: 1.5em;
  text-align: center;
}

.skillsList {
  text-align: center;
}

.skill {
  font-size: 1em;
  display: inline;
  text-align: center;
}

.carouselImage {
  width: 100%;
}

.carouselCaption {
  background-color: black;
}

#footer {
  background-color: #374785;
  margin-right: 0;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 15;
  border-top: #24305E solid 1.5vmin;
  padding: 1vmin 0;
}

#footerFiller {
}

#footerRow {
  height: 100%;
}

.picLinkContainer {
  text-align: center;
  height: 100%;
}

.picLinkAnchor {
}

.picLink {
  display: inline-block;
}

.test {
  background-color: yellow;

}


/* s size*/
@media only screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }

  #name {
   border-right: #24305E solid 0.75vmin;
  }

  #contactInfo {
    border-left: #24305E solid 0.75vmin;
  }

  #contactInfo, #name {
    text-align: left;
  }

  #contactInfo {
    border-right: 0;
  }

  #leftDivideContainer {
    top:0;
    border-right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
  }

  #leftDivide {
    border-right: 0;
    height: 100%;
    border-left: #24305E solid 1.5vmin;
  }

  .skillsTitle {
    text-align: left;
  }

  .skill {
    text-align: left;
    font-size: 1em;
    display: block;
  }

  #aboutMe {
  }
}

/* m size*/
@media only screen and (min-width: 992px) {
  body {
    font-size: 17px;
  }
}

/* lg size*/
@media only screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
