* {
  padding: 0 0;
  margin: 0 0;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  word-wrap: break-word;
}


html {
  height: 100%;
  background-color: #374785;
  overflow-y: scroll;
}

img {
}

body {
  height: 100%;
  font-size: 11px;
  background-color: #374785;
}

a:hover {
  text-decoration: none;
}

.fillHeight {
  height: 100%;
}

.fillWidth {
  width: 100%;
}

.modal {
  padding-right: 0;
}

.modal-content{
  background-color: #374785;
}

.filler {
  position: relative;
  width: 100%;
}

#headerFiller {
}


.row {
}

.header {
  background-color: #374785;
  margin-right: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
  border-bottom: #24305E solid 1.5vmin;
  height: 100px;
  padding: 0;
}

.headingSection {
  height: 50px;
}

#name {
  font-size: 2.5em;
}

#contactInfo {
  padding: 0 0 1.5vmin 3vmin;
  font-size: 1.5em;
  border: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#contactInfo:hover {
  cursor: pointer;
  background-color: #24305E;
}

#contactInfo, #name {
  text-align: center;
  padding-top: 1.5vmin;
}

#bodyContainer {
  padding-top: 0;
  display: flex;
  height: 100%;
  margin-top: 100px;
}

#bodyRowContainer {
  display: flex;
  flex-flow: column;

}

.sideBar {
  order: 2;
}

.modal-open {
padding-right: 0 !important;
}

#aboutMe {
  order: 1;
  padding: 0;
}

.pagesBar {
  margin-top: 0;
  margin-right: 0;

}

.navTab {
  cursor: pointer;
}

#navHome {
  background-color: #374785;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#navHome:hover {
  background-color: #24305E;
}

#navEdu {
  background-color: #FF9A45;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#navEdu:hover {
  background-color: #EF6D00;
}

#navProj {
  background-color: #F76C6C;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#navProj:hover {
  background-color: #D81414;
}

#navExp {
  background-color: #FEE64C;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#navExp:hover {
  background-color: #F3D203;
}

.navPage {
  display: none;
}

.navEntry {
  cursor: pointer;
}

.navEntryInfo {
  display: none;
}

.entryTitle {
  font-size: 1.2em;
}

.entryDate, .entrySub {
  font-size: 0.9em;
}

.entrySub {
  margin-bottom: 1.5vmin;
}

.entryDate {
}

.entrySub {
}

.entryDetails {
  font-size: 0.8em;
  padding-left: 3vmin;
}

.navEntryInfo {
}

#home {
  display: block;
}

.skillsTitle {
  font-size: 1.5em;
  text-align: center;
}

.skillsList {
  text-align: center;
}

.skill {
  font-size: 1em;
  display: inline;
  text-align: center;
}

.navbar {
  opacity: 1;
  background-color: none;
}

.navEntry {
  text-align: center;
}

#footer {
  background-color: #374785;
  margin-right: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
  border-top: #24305E solid 1.5vmin;
  padding: 1vmin 0;
}

#footer {
}


#footerRow {
}

.picLinkContainer {
  text-align: center;
  padding: 0;
}

.picLinkAnchor {
  margin: 0;

}

.picLink {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.picLink:hover {
  max-height: 125%;
}

.test {
  background-color: yellow;
}




/* s size*/
@media only screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }

  .header {
    height: 90px;
  }

  .headingSection {
    height: 90px;
  }

  #name {
  }

  #contactInfo {
    border-left: #24305E solid 1.5vmin;
  }

  #contactInfo, #name {
    text-align: left;
  }

  #contactInfo {
    border-right: 0;
  }

  #leftDivideContainer {
    top: 0;
    border-right: 0;
    position: fixed;
    width: 100%;
  }

  #leftDivide {
    border-right: 0;
    border-left: #24305E solid 1.5vmin;
  }

  #bodyContainer {
    margin-top: 90px;
  }

  #bodyRowContainer {
    flex-flow: row;
  }

  .sideBar {
    order: 1;
  }

  #aboutMe {
    order: 2;
  }

  .skillsTitle {
    text-align: left;
  }

  .skill {
    text-align: left;
    font-size: 1em;
    display: block;
  }

  .entryDate, .entrySub {
    float: none;
  }

  #aboutMe {
    padding: 0 0 0 1.5vmin;
  }


}

/* m size*/
@media only screen and (min-width: 992px) {
  body {
    font-size: 17px;
  }
}

/* lg size*/
@media only screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

/* Animations*/
